<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Polls app</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
</head>
<body>
    <h1>Hello World</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur neque id blandit sagittis. Sed placerat efficitur purus, sit amet placerat purus egestas quis. 
    </p>

    <script type="text/javascript" src="{% static '/js/script.js' %}"></script>
</body>
</html>
